<nav class="page-nav">
  <%= nav_link 'Home', '/' %>
  <%= nav_link 'About', '/about/' %>
  <%= nav_link 'Topics', '/topics/' %>
  <%= nav_link 'Mentors', '/mentors/' %>
  <%= nav_link 'Students', '/students/' %>
  <%= nav_link 'Contact', '/contact/' %>
</nav>
