<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= [current_page.data.title, "Microcourses"].compact.join(' - ') %></title>
    <%= stylesheet_link_tag "all", media: 'screen, print' %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="course <%= page_classes %>">
    <div class="container">
      <div class="course-header">
        <h2 class="course-title">
          <% if current_page.data.title %><%= current_page.data.title %><% end %>
        </h2>
        <%= link_to 'Microcourses', url_for('/index.html'), class: 'home-link' %>
      </div>
      <div class="course-metadata">
        <% if current_page.data.duration %>
          <div class="course-duration"><b>Duration:</b> <%= current_page.data.duration %> of mentoring</div>
        <% end %>
        <% if current_page.data.requirements %>
          <div class="course-requirements"><b>Requirements:</b> <%= current_page.data.requirements.join(', ') %></div>
        <% end %>
        <% if current_page.data.concepts %>
          <div class="course-concepts"><b>Concepts:</b> <%= current_page.data.concepts.join(', ') %></div>
        <% end %>
      </div>

      <div class="course-body">
        <%= yield %>
      </div>

      <% if current_page.data.challenge %>
        <div class="course-challenge">
          <p><b>Challenge:</b> <%= current_page.data.challenge %></p>
        </div>
      <% end %>
    </div>
    <%= partial 'layouts/ga' %>
  </body>
</html>
